*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.default-padding{
    padding: 100px 0;
}
.text-color{
    color: orange;
}

/* Home section CSS */

.container{
    display: flex;
}
.left-content {
    width: 40%;
}
.inner-content {
    width: 600px;
    margin-top: 30%;
    margin-left: 35%;
    position: relative;
}
.inner-content a {
    text-decoration: none;
    color: white;
    background: orange;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: -19px;
    font-size: 24px;
}
.home-big-text::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 148px;
    top: 25px;
    left: -15px;
    background-color: orange;
    border-radius: 10px;
}
.home-big-text {
    font-size: 70px;
}
.home-big-text {
    font-size: 70px;
    margin-top: 25px;
}
.home-pare-text {
    font-size: 20px;
    margin-top: 20px;
    margin-left: -20px;
    margin-bottom: 33px;
    width: 80%;
    line-height: 30px;
}
.small-text {
    margin-top: 60px;
    margin-left: -19px;
    font-weight: bold;
}
.right-home-img{
    width: 40%;
}
.right-home-img img {
    max-width: 100%;
    margin-left: 360px;
    width: 65%;
    margin-top: 117px;
}


/* Card Section Css */


.card-heading {
    text-align: center;
    font-size: 50px;
}
.card-box {
    display: flex;
    margin-left: 11%;
    margin-top: 50px;
}
.card-items1{
    width: 350px;
    height: auto;
    margin: 0 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(175, 238, 238, 0.199);
}
.card-items2{
    width: 350px;
    height: auto;
    margin: 0 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.199);
}
.card-items3{
    width: 350px;
    height: auto;
    margin: 0 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 166, 0, 0.199);
}
.card-items1 img {
    max-width: 100%;
    width: 170px;
}
.card-items1 h2 {
    padding: 15px 0;
    font-size: 27px;
}
.card-items1 p {
    padding: 10px 0;
    line-height: 30px;
    font-size: 18px;
}
.card-items2 img {
    max-width: 100%;
    width: 170px;
}
.card-items2 h2 {
    padding: 15px 0;
    font-size: 27px;
}
.card-items2 p {
    padding: 10px 0;
    line-height: 30px;
    font-size: 18px;
}
.card-items3 img {
    max-width: 100%;
    width: 170px;
}
.card-items3 h2 {
    padding: 15px 0;
    font-size: 27px;
}
.card-items3 p {
    padding: 10px 0;
    line-height: 30px;
    font-size: 18px;
}


/* About Section Css  */

.left-img {
    width: 40%;
}
.left-img img {
    max-width: 100%;
    width: 440px;
    margin-left: 37%;
}

.right-content{
    width: 40%;
}
.right-inner-content {
    width: 100%;
    margin-left: 35%;
    margin-top: 15%;
}
.right-inner-content h2{
    font-size: 70px;
}
.right-inner-content h1{
    font-size: 70px;
}
.right-inner-content p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 33px;
    width: 80%;
    line-height: 30px;
}
.right-inner-content a{
    text-decoration: none;
    color: white;
    background: orange;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 24px;
}
